---
import Layout from "../../../layouts/Layout.astro";
import { EstimateForm } from "./_estimate-form.component";
---

<Layout>
	<main class="container max-w-lg mx-auto px-4 pt-20">
		<h1 class="text-2xl font-bold">Website Estimate Generator</h1>
		<p>Fill out the form below to get a quote for your website.</p>
		<EstimateForm />
	</main>
</Layout>